.container1{
    font-size: 20px;
    margin-top: 10px;

}
.card1{
    margin-left: auto;
    
}
.img{
    margin-left: auto;
}

.main{
    margin: 100px;
    display: flex;
    justify-content: space-between;
}
.container1 h1{
font-size: 30px;
}